<div class="row animated fadeIn">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="isCargando">
                <td colspan="10">
                  <div class="col-12 text-center">
                    <img src="assets/img/loading/loader.gif" width="160px" height="120px">
                    <br>
                    <span>Espere por favor</span>
                  </div>
                  <hr>
                </td>
              </tr>
              <tr *ngIf="catalogos.length==0">
                <td colspan="10" class="text-center">
                  No existen registros
                </td>
              </tr>
              <tr *ngFor="let catalogo of catalogos ; let i = index">
                <td>{{i+1}}</td>
                <td>{{catalogo.nombre}}</td>
                <td>
                  <div class="table-actions text-left">
                    <a data-toggle="modal" data-target="#viewLayoutItemSancion"><i class="ik ik-eye text-info"
                        style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Ver Detalle"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>