<div class="app-sidebar colored">
    <div class="sidebar-header">
        <a class="header-brand" routerLink="">
            <span class="text" style="font-size: 18px; align-content: center">INCIDENTES QUITO</span>
        </a>
        <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
    </div>

    <div class="sidebar-content">
        <div class="nav-container">
            <nav id="main-menu-navigation" class="navigation-main">
                <div class="nav-lavel">Navegación</div>
                <div class="nav-item" [ngClass]="{'has-sub':menu.lstMenuHijos.length >0}" routerLinkActive="active open" *ngFor="let menu of _sidebar.menu">
                    <a *ngIf="menu.lstMenuHijos.length >0"><i [class]="menu.icono"></i><span>{{menu.descripcionCorta}}</span></a>
                    <a *ngIf="menu.lstMenuHijos.length ==0" [routerLink]="[menu.path]"><i [class]="menu.icono"></i><span>{{menu.descripcionCorta}}</span></a>
                    <div class="submenu-content" *ngFor="let submenu of menu.lstMenuHijos">
                        <a [routerLink]="[submenu.path]" class="menu-item" routerLinkActive="active">{{submenu.descripcionCorta}}</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>